:root {
  --color-white: #ffffff;
  --color--gray-dark: #3a4246;
  --color-blue-darker: #4a86e1;
  --color-gray-light: #c6d2d2;
  --color-blue-lighter: #93b8eb;
  --color-blue: #1f69dc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  width: 100%;
}
header {
  overflow: hidden;
  background-color: rgba(198, 210, 210, 0.43);
  width: 100vw;
  height: 90vh;
  padding: 3rem;
  position: relative;
}
/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
nav ul {
  display: flex;
  list-style: none;
}
.list_item {
  margin: 2rem;
  font-size: 1.6rem;
  font-weight: 50rem;
}
.navbar_sections {
  display: flex;
  align-items: center;
  z-index: 10;
}
.logo {
  width: 10rem;
  height: 10rem;
}
.signin_btn {
  width: 12.2rem;
  height: 3.9rem;
  border-radius: 1.8rem;
  background-color: var(--color-blue-darker);
  color: white;
  font-size: 1.6rem;
  border: none;
}
nav p {
  font-size: 1.6rem;
  margin: 3rem;
}
/* header below navbar */
.background_halo {
  width: 81.3rem;
  height: 81.3rem;
  position: absolute;
  top: 0;
  right: -10rem;
}
.header_section1 {
  width: 90%;
  margin: auto;
}
.header_section1 h1 {
  font-size: 6.5rem;
  margin: 10rem 0 1rem;
}
h1 span {
  color: var(--color-blue);
}
.header_para {
  font-size: 1.6rem;
}
.header__input {
  border: none;
  height: 5rem;
  margin: 2rem 1rem 0 0;
}
.header__input::placeholder {
  color: gray;
  padding: 1.5rem;
}
.header__input--1 {
  border-radius: 4rem 0 0 4rem;
  width: 22rem;
}
.header__input--2 {
  width: 22rem;
}
.search_btn {
  background-color: var(--color-blue);
  color: #fff;
  width: 13.3rem;
  border-radius: 0 4rem 4rem 0;
  position: relative;
  top: 0.4rem;
}
.header_person{
  width: 70rem;
  height: 50rem;
  position: absolute;
  top: 12.7rem;
  right: 0;
  z-index: 10;
}
